
    <div class="card col-xs-12 col-md-10 col-md-offset-1">
      <div class="card-content">
          <div class="img-left">
              <img class="post-img" src="https://scontent-bru2-1.xx.fbcdn.net/v/t31.0-8/21122709_10150921419159957_4493853260899472933_o.jpg?oh=5fa09d9a6f7e9dc473c3ef64b69f186a&oe=5A627279"/>
            </div>
            <div class="post-content">
              <h4>{{post.title}}</h4>
              <p class="create">{{post.createdAt| date : "HH:mm, dd MMMM yyyy"}}</p>
              <p>{{post.description}}</p>

             
            </div>
            <div class="actions">
                <div class="line"></div>
                <div class="text-center">
                    <ul class="action-list">
                        <li *ngIf="!saved"><a (click)="save()"> SAVE</a></li>
                        <li *ngIf="saved"><a>SAVED</a></li>
                        <li><a >COMMENT</a></li>
                        <li *ngIf="!liked"><a (click)="bulkit()"><span class="likes">{{likes}}</span> BULK IT</a></li>
                        <li *ngIf="liked"><a><span class="likes">{{likes}}</span> YOU BULKED IT</a></li>
                      </ul>
                    </div>
                
          </div>
            </div>
            
      
      
    </div>
    

