<h2>Post Toevoegen</h2>
<div class="container-fluid">
  <form (ngSubmit)="add()" #postForm="ngForm">
    <input type="text" class="form-control" [(ngModel)]="post.title" name="title" placeholder="title"/>

    <input type="text" class="form-control" [(ngModel)]="post.description" name="title" placeholder="description"/>

    <input type="file" id="file" name="file" (change)="showPreview()" #fileInput/>
    <img *ngIf="codedFile" class="preview" src="data:{{image.filetype}};base64,{{image.value}}" alt="{{image.filename}}" #preview/>

    
    <button class="btn btn-primary" type="submit">Voeg toe</button>
  </form>
  </div>

