.post-container{    
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 2em;
}

textarea{
    resize: none;
}
button{
    margin-top:2em;
}
.new-post-error{
    font-weight: 500;
    color: red;
    font-size: 1.7rem;
}