.image {
    display: block;
    width: 125px;
    margin:0;
    height: auto;
  }
  
  .overlay-container{
    width:125px;
    margin:0 auto;
  }
  
  .overlay-container .container{
    padding:0;
    width:125px;
  }
  
  .container{
    position: relative;
  }
  .overlay {
    position: absolute;
    border-radius: 50%;
    height: 125px !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(177, 177, 177, 0.7);
  }
  
  
  .overlay-container .container:hover .overlay {
    opacity: 1;
  
  }
  
  .overlay button{
    background: none;
    border: none;
    color: white;
    cursor:pointer;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .error{
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }

  @media(max-width:480px){
    .overlay{
      height: 100px !important;
      width: 100px;
      left:12.5px;
    }
  }
  
