.right{
    float:right;
}

li a {
    cursor: pointer;
}

li img{
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.search-results{
    position: absolute;
    padding-left:0;
    z-index: 1000;
    width:100%;
    list-style: none;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.search-results li{
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.search-results li:hover{
    background-color:#eee;
    transition: .2s ease-in-out;
}
.search-results a{
    color: #333;
    text-decoration: none;
    line-height: 2em;
    margin-left: 1em;
}

.navbar-form{
    padding:0;
    margin-bottom:0;
}
.search{
    width:25em !important;
}

.li-search:focus .search-results{
    display:none;
}

.li-search-small form{
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 10px 15px;
}

.li-search-small .search{
    width: 100% !important;
}

.li-search-small .search-results{
    position: relative;
}
button, input{
    border-radius: 0;
}

.navbar-default{
    background-color:#B0483D;
    border:none;
    border-radius: 0;
}

.navbar-header .navbar-brand{
    color:white;
}
.navbar-collapse{
    border:none;
    box-shadow:none;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}

.navbar-toggle{
    border:none;
    margin-top: 4px;
    margin-bottom: 4px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background:none;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:white;
    margin: .5em 0;
}
