<nav *ngIf="user" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLInk="/feed" routerLinkActive="active">Bulkr.</a>
    </div>
    <div  class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/feed" routerLinkActive="active">Feed</a>
        </li>
        <li>
          <a routerLink="/saves" routerLinkActive="active">My Saves</a>
        </li>
      </ul>
      <ul class="nav navbar-nav right">
        <li>
          <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="li-search">
          <form class="navbar-form" role="search">
            <div>
            <input id="searchval" type="text" class="form-control search" placeholder="Search" (keyup)="search(input)" #input>
            </div>
          </form>

          <ul class="search-results">
            <div *ngFor="let user of foundUsers">
              <li>
                  <a (click)="emptysearch(input)" routerLink="/profile/{{user.email}}" routerLinkActive="active"><img *ngIf="!user.picture" class="img img-responsive pull-left" src="../../assets/noPicture.jpg" alt="no pic"/>
                    <img *ngIf="user.picture" class="img img-responsive pull-left" src="data:{{user.picture.filetype}};base64,{{user.picture.value}}" alt="{{user.picture.filename}}" />
                  {{user.email}}</a>
              </li>
            </div>
          </ul>
        </li>
        <li>
          <a (click)="logout()">Log out</a>
        </li>
      </ul>
     
      
    
    </div>

  </div>
</nav>