/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 700 !important;
}
app-post-view{
    margin:2em;
}
body{
    overflow-x:hidden;
}
.mb-1{
    margin-bottom:1rem !important;
}

.mt-2{
    margin-top: 2em;
}

.bg-red{
    background-color: #B0483D;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background-color: #2D3B55;
}

p, h1, h2, h3, h4, h5, h6{
    cursor: default;
}
.preview{
    max-width: 100%;
}

.login-error{
    font-weight: 600;
    padding-left: 3rem;
    color: red !important;
}

.show-lg{
    display:none;
}

@media (min-width : 992px) {
    .show-lg{
        display:block;
    }
    .hidden-lg{
        display:none;
    }
}